<h1 class="text-center"><%= @user.name %></h1>

<p class="text-center">Email Address: <%= @user.email %></p>

<% if logged_in? && current_user == @user %>
  <p><%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn' %></p>
<% end %>
