<h1>Home</h1>

<p>
Vestibulum a orci enim. Fusce placerat tincidunt dui quis dignissim. Nulla lacinia iaculis eros,
in vulputate nunc euismod fermentum. Integer suscipit ultrices tellus, in auctor augue tempor mollis.
Maecenas blandit vestibulum ipsum non pellentesque. In erat urna, egestas eget aliquet non, maximus
eleifend nunc. Mauris dui elit, tempor et ipsum ac, laoreet finibus ex. Praesent placerat sit amet elit
non congue. Sed sagittis egestas purus quis consectetur. Suspendisse at dolor vitae ipsum imperdiet
convallis a vel urna.
</p>

<p>
Pellentesque et tellus augue. In dapibus ex et dignissim mollis. Fusce auctor felis nec quam
volutpat sodales. Aliquam sollicitudin purus quis orci fringilla elementum. Integer sapien risus,
scelerisque in tortor eleifend, aliquam molestie enim. In vel feugiat leo. Mauris enim libero,
volutpat in ornare varius, mollis a ligula. Donec dapibus diam lectus, vitae euismod lorem suscipit
ac. Nulla mi velit, dictum ut nisl at, lacinia fringilla nisl. Ut congue elit nec auctor porttitor.
Vivamus vitae hendrerit massa.
</p>

<p>
Phasellus ut tortor aliquet, consectetur tortor sit amet, facilisis sem. Phasellus lectus odio,
porta vel blandit nec, ullamcorper vitae ligula. Maecenas tempor dui at dolor interdum accumsan.
Integer tincidunt lobortis ligula. In eget est velit. Morbi at arcu quis nunc accumsan pharetra.
Nullam aliquam consectetur ex sed tincidunt. Maecenas at turpis pulvinar, semper purus at, tincidunt ligula.
Proin porta sapien id quam varius, ut lacinia magna sollicitudin. Aenean tincidunt enim in aliquam porttitor.
Vivamus suscipit accumsan turpis, sit amet facilisis risus ultrices a. Ut vel orci pellentesque quam ultricies
auctor rutrum nec metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec velit non arcu
maximus bibendum sed vitae est.
</p>

<%= link_to 'About', about_path %> |
<%= link_to 'Help', help_path %> |
<%= link_to 'Task List', todos_path %>
