<header>
  <ul>
    <li class="pull-right"><%= link_to 'Sign up', signup_path %></li>
    <li class="pull-right"><%= link_to 'Log in', '#' %></li>

    <li class="brand"><%= link_to 'Agenda', root_path %></li>
    <li><%= link_to 'Task List', todos_path %></li>
  </ul>
</header>
